.get-in-touch {
  background: -color(cream);

  &__wrapper:before {
    content:"";
    background-color: -color(cream);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}

  &__content {
    padding-top: 3rem;
  }

  &__title {
    @include font($weight: 'bold', $size: 2rem);
    color: -color(green);
  }

  &__text {
    @include font($font: fira-sans, $size: 1rem);
    color: -color(blue);
    line-height: 1.3rem;
    padding-top: 1rem;
  }

  &__button {
    @include font($font: fira-sans, $size: 1.2rem, $weight: 'bold');
    display: inline-block;

    margin-top: 2rem;
    padding: 0.5rem 1rem;

    background: -color(green);
    border-radius: 10px;
    color: -color(cream);

    border: 1px -color(green) solid;

    transition: background-color 0.15s ease-in-out,
                color 0.15s ease-in-out;

    &:hover {
      background: -color(cream);
      color: -color(green)
    }

  }
}

.work-together {
  background: -color(cream);

  &__content {
    padding-top: 4rem;
  }

  &__title {
    @include font($weight: 'bold', $size: 2rem);
    color: -color(green);

    padding-bottom: 2rem;
  }

  &__subtitle {
    @include font($weight: 'bold', $size: 1.2rem);
    color: -color(green);
    padding-top: 3rem;
  }

  &__text {
    @include font($font: fira-sans, $size: 1rem);
    color: -color(blue);
    line-height: 1.3rem;
    padding-top: 1rem;
  }

  &__icon__content {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 10rem;
    justify-content: space-between;
  }

  &__icon {
    width: 5rem;
    height: 5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.headshots {
  background: -color(green);

  &__content {
    padding: 5rem 0;
  }

  &__wrapper--second {
    padding-top: 4rem;
  }

  &__headshot {
    position: relative;

    width: 16.5rem;
    height: 16.5rem;
    margin: auto;
  }

  &__headshot--first {
    transform: rotate(-6deg);
  }

  &__headshot--second {
    transform: rotate(6deg);
  }

  &__headshot__inner {
      position: relative;
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__sticker {
    position: absolute;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__sticker--yellow {
    width: 8rem;
    top: 0;
    left: -2.5rem;
    transform: rotate(-45deg);
  }

  &__sticker--red {
    width: 8rem;
    bottom: -0.5rem;
    right: -2rem;
    transform: rotate(152deg);
  }

  &__text {
    padding-top: 2.5rem;
    padding-left: 2.5rem;
  }

  &__name {
    @include font($weight: 'bold', $size: 1.2rem);
    color: -color(yellow);
  }

  &__email {
    @include font($font: fira-sans, $weight: 'light', $size: 0.9rem);
    color: -color(cream);
    padding-top: 0.5rem;
  }
}

.faq {
  background: -color(cream);

  &__content {
    padding: 4rem 0;
  }

  &__title {
    @include font($weight: 'bold', $size: 2rem);
    color: -color(green);

    padding-bottom: 2rem;
  }
}