.homepage {
  // background: -color(green);

  img {
    max-width: 100%;
    height: auto;
  }
}

.belief {

  &__inner {
    padding: 0 11%;
  }

  &__divider--top {
    // transform: translate(0, -100%)
    // position: relative;
    // top: -10rem;
    margin-top: -10rem;
  }
}