.belief {

  &__wrapper {
    background: -color(green);
  }

  &__content {
    padding-top: 2.5rem;
  }

  &__title {
    @include font($weight: 'bold', $size: 2rem);
    color: -color(cream);
  }

  &__text {
    @include font(fira-sans, $weight: 'light', $size: 1rem);
    color: -color(cream);

    padding-top: 1rem;
    line-height: 1.4rem;
  }

  &__image__content {
    padding-top: 5rem;
    padding-bottom: 4rem;
    position: relative;

    width: 16.5rem;
    height: 16.5rem;
    margin: auto;
    transform: rotate(7deg);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__sticker {
    position: absolute;
    top: 4.5rem;
    left: -2.5rem;
    transform: rotate(-38deg);
  }
}

.map {
  background: -color(cream);
  position: relative;
  z-index: -2;

  a {
    color: -color(blue);
  }

  &__content {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &__title {
    @include font($weight: 'bold', $size: 2rem);
    color: -color(green);
  }

  &__subtitle {
    @include font($font: fira-sans, $size: 0.95rem);
    color: -color(blue);
    padding-top: 1rem;
  }

  &__image {
    padding-top: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.quote {

  &__wrapper {
    background: -color(blue);
  }

  &__text {
    @include font($size: 1.2rem);
    color: -color(cream);
    line-height: 150%;
  }

  &__source {
    @include font($size: 1.2rem);
    color: -color(cream);

    padding-top: 3.5rem;
    text-align: center;
  }
}