.belief {
  position: relative;
  z-index: 1;

  &__wrapper {
    background: -color(green);
  }

  &__content {
    padding-top: 4rem;
  }

  &__title {
    @include font($weight: 'bold', $size: 2rem);
    color: -color(cream);
  }

  &__text {
    @include font(fira-sans, $weight: 'light', $size: 1rem);
    color: -color(cream);

    padding-top: 1rem;
    line-height: 1.4rem;
  }

  &__image__inner {
    position: relative;
  }

  &__image__content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;

    width: 16.5rem;
    height: 16.5rem;
    margin: auto;
    transform: rotate(7deg);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__sticker {
    position: absolute;
    top: -0.5rem;
    left: -2.5rem;
    transform: rotate(-38deg);
    width: 10rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__donate {
    display: none;
    visibility: hidden;
  }

  @include for-tablet-up {
    &__inner {
      display: flex;
      position: relative;
      flex-direction: row-reverse;
    }

    &__content {
      padding-left: 5rem;
      padding-top: 5rem;
      padding-bottom: 4rem;
      width: 50%;

      a {
        text-decoration: none;
        color: -color(blue);

        transition: color 0.15s ease-in-out;
      }

      a:hover {
          color: -color(yellow);
      }
      
    }

    &__image__content {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;

      width: 18.5rem;
      height: 18.5rem;
    }

    &__title {
      @include font($weight: 'bold', $size: 2.3rem);
    }

    &__donate {
      @include font($font: fira-sans, $size: 1.2rem, $weight: 'bold');
      display: inline-block;
      visibility: visible;

      margin-top: 2rem;
      padding: 0.5rem 1rem;
  
      background: -color(yellow);
      border-radius: 10px;

      border: -color(yellow);
      border-width: 1px;
      border-style: solid;

      transition: background-color 0.15s ease-in-out;

      &:hover {
        background: -color(blue);
      }

    }

  }

  @include for-desktop-up {
    &__inner {
      justify-content: space-between;
    }

    &__image__content {
      width: 23rem;
      height: 23rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
      margin: initial;
    }

    &__title {
      @include font($weight: 'bold', $size: 3rem);
    }

    &__text {
      @include font(fira-sans, $weight: 'light', $size: 1.1rem);
  
      padding-top: 1.3rem;
      line-height: 1.55rem;
    }

    &__donate {
      @include font($font: fira-sans, $size: 1.5rem, $weight: 'bold');
      display: inline-block;
      visibility: visible;

      margin-top: 2rem;
      padding: 0.5rem 1rem;
    }

    &__sticker {
      left: -3rem;
      width: 13rem;
    }
  }

}

.map {
  background: -color(cream);
  position: relative;

  a {
    color: -color(blue);
  }

  &__content {
    padding: 4rem 0;
  }

  &__title {
    @include font($weight: 'bold', $size: 2rem);
    color: -color(green);
  }

  &__subtitle {
    @include font($font: fira-sans, $size: 0.95rem);
    color: -color(blue);
    padding-top: 1rem;
  }

  &__image {
    padding-top: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include for-tablet-up {
    &__content {
      padding: 5rem 0;
    }

    &__title {
      @include font($weight: 'bold', $size: 2.3rem);
      width: 40%;
    }
  }

  @include for-desktop-up {
    &__content {
      padding: 7rem 0;
    }

    &__title {
      @include font($weight: 'bold', $size: 3rem);
    }

    &__subtitle {
      @include font($font: fira-sans, $size: 1.1rem);
      padding-top: 1.5rem;
    }



  }
}

.quote {
  background: -color(cream);
  position: relative;
  z-index: 1;

  &__wrapper {
    background: -color(blue);
  }

  &__content {
    padding: 4rem 0;
  }

  &__text {
    @include font($size: 1.2rem);
    color: -color(cream);
    line-height: 150%;
  }

  &__source {
    @include font($size: 1.2rem);
    color: -color(cream);

    padding-top: 3.5rem;
    text-align: center;
  }

  @include for-tablet-up {
    &__content {
      padding: 3rem 8rem;
    }
  }

  @include for-desktop-up {
    &__content {
      padding: 5rem 8rem;
    }

    &__text {
      @include font($size: 2.1rem);
      line-height: 3rem;
    }
  
    &__source {
      @include font($size: 2.1rem);
  
      padding-top: 3.5rem;
    }
  }
}

.stories {

  &__wrapper {
    background: -color(cream);
    position: relative;
  }

  &__content {
    padding: 4rem 0;
  }

  &__title {
    @include font($weight: 'bold', $size: 2rem);
    color: -color(green);
  }

  &__text {
    @include font(fira-sans, $size: 1rem);
    color: -color(blue);

    padding-top: 2rem;
    line-height: 1.4rem;
  }

  &__text:nth-child(n+3) {
    padding-top: 1.2rem;
  }

  &__image {
    padding-top: 4rem;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @include for-tablet-up {
    &__content {
      display: flex;
      justify-content: space-between;
      padding: 5rem 0;
    }

    &__text__wrapper {
      width: 50%;
      padding-top: 3rem;
    }

    &__title {
      @include font($weight: 'bold', $size: 2.3rem);
    }

    &__image {
      padding-top: 0;
      width: 20rem;
    }
  }

  @include for-desktop-up {
    &__content {
      padding-top: 5rem;
      padding-bottom: 7rem;
    }

    &__text__wrapper {
      width: 40%;
      padding-top: 5rem;
    }

    &__title {
      @include font($weight: 'bold', $size: 3rem);
    }

    &__text {
      @include font(fira-sans, $size: 1.1rem);

      line-height: 1.55rem;
    }

    &__image {
      width: 25rem;
    }

  }
}