.faq-section {

  a {
    color: -color(green);
  }

  li {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }

  &__inner {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px -color(blue) solid;
  }

  &__inner--last {
    border-bottom: none !important;
  }

  &__question {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include font($weight: 'bold', $size: 1.2rem);
    color: -color(green);
    line-height: 1.5rem;
  }

  &__button__content {
    padding-left: 3rem;
  }

  &__button {
    @include font($font: fira-sans, $weight: 'bold', $size: 2.7rem);
    color: -color(yellow);
    width: 1.3rem;
  }

  &__answer {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
  }

  &__text {
    @include font($font: fira-sans, $size: 1rem);
    color: -color(blue);
    line-height: 1.3rem;
    padding-top: 1rem;
    padding-right: 1.3rem;
  }

  @include for-tablet-up {
    &__inner {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    &__question {
      cursor: pointer;
    }

    &__title {
      @include font($weight: 'bold', $size: 1.5rem);
    }
  }

  @include for-desktop-up {
    &__inner {
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
    }

    &__question {
      display: flex;
      justify-content: initial;
      width: 80%;
    }

    &__answer {
      width: 80%;
    }

    &__title {
      @include font($weight: 'bold', $size: 2.1rem);
      line-height: 2.1rem;
    }

    &__text {
      @include font($font: fira-sans, $size: 1.1rem);
      line-height: 1.3rem;
    }

  }
}

.is-open {
    visibility: visible;
    overflow: hidden;
    opacity: 1;
    max-height: 500rem; // setting max height bigger than div will ever get, enables the transition
    will-change: max-height, opacity;
    transition: max-height .3s cubic-bezier(.86,0,.07,1),
                opacity 0.4s ease-in-out;
}