.footer {
  background: -color(cream);
  
  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  &__wrapper--yellow {
    background: -color(yellow);
  }

  &__wrapper--blue {
    background: -color(blue);
  }

  &__wrapper--green {
    background: -color(green);
  }

  &__content {
    padding-top: 4rem;
  }

  &__title {
    display: flex;
    padding-bottom: 2rem;
  }

  &__logo {
    padding-right: 0.5rem;
    width: 62px;

    display: none;
    visibility: hidden;
  }

  &__logo--visible {
    display: block;
    visibility: visible;
  }

  &__text {
    @include font($size: 1.2rem, $weight: 'bold');
  
    padding-top: 0.5rem;
  }

  &__text--light {
    color: -color(cream);
  }

  &__text--dark {
    color: -color(blue);
  }
  
  &__list {
    text-align: left;
    padding-bottom: 3rem;
  }

  &__social {
    display: flex;
    padding-bottom: 0.5rem;
  }

  &__link {
    @include font($font: fira-sans, $weight: 'bold', $size: 1.8rem);
    padding-bottom: 1.1rem;
  }

  &__link--light {
    a {
      color: -color(cream);
    }
  }

  &__link--dark {
    a {
      color: -color(blue);
    }
  }

  &__social__link {
    padding-right: 1rem;
  }

  &__svg--light {
    fill: -color(cream);
  }

  &__svg--dark {
    fill: -color(blue);
  }

  &__scout {
    @include font($font: fira-sans, $size: 1.1rem);

    padding-bottom: 1rem;

    a {
      text-decoration: underline;
    }
  }

  &__scout--light {
    color: -color(cream);

    a {
      color: -color(cream);
    }
  }

  &__scout--dark {
    color: -color(blue);

    a {
      color: -color(blue);
    }
  }

  @include for-tablet-up {
    &__inner {
      padding-top: 0;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      padding-bottom: 3rem;
    }

    &__title {
      padding-bottom: 1rem;
    }

    &__text {
      @include font($size: 1.3rem, $weight: 'bold');
    }

    &__list {
      display: flex;
    }

    &__link {
      @include font($font: fira-sans, $weight: 'bold', $size: 1.2rem);
      padding-bottom: 0;
      padding-right: 1.5rem;
    }

    &__nav__social {
      padding-top: 2rem;
    }
  }
}