.hero {
  background-position: center 35%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - #{$mobile-header-height});

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__background {
    background-color: -color(blue);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
  
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      opacity: 0.5;
    }
  }

  &__content {
    padding-top: 30vh;
  }

  &__title {
    @include font($weight: 'bold', $size: 2.4rem);
    color: -color(white)
  }

  @include for-tablet-up {
    height: 100vh;

    &__content {
      padding-top: 40vh;
    }

    &__content__inner {
      margin-left: auto;
      width: 90%;
    }

    &__title {
      @include font($weight: 'bold', $size: 3.3rem);
      display: inline;
    }

  }

  @include for-desktop-up {
    &__title {
      @include font($weight: 'bold', $size: 4.8rem);
    }
  }
}