.timeline-card {
  margin-bottom: 4rem;
  background: -color(cream);
  padding: 2rem 2.4rem;
  position: relative;

  &__title {
    @include font($weight: 'bold', $size: 1.2rem);
    color: -color(green);
    line-height: 1.5rem;
    width: 70%;

    padding-bottom: 2rem;
  }

  &__text {
    @include font($font: fira-sans, $size: 0.9rem);
    color: -color(green);
    line-height: 1.3rem;
  }

  &__rip {
    transform: rotate(90deg);
  }
}