@font-face {
  font-family: Buenard;
  font-weight: 700;
  font-style: bold;
  src: url("Buenard-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Buenard;
  font-weight: 400;
  font-style: regular;
  src: url("Buenard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Fira Sans;
  font-weight: 400;
  font-style: regular;
  src: url("FiraSans-Regular.ttf") format("truetype");
}
