// Fonts
$fonts: (
  fira-sans: ('Fira Sans', sans-serif),
  buenard: ('Buenard')
);

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700
);

// Colors 
$colors: (
  black:      #000000,
  red:        #D61504,
  green:      #2E6458,
  blue:       #011739,
  yellow:     #F5BC4A,
  cream:      #F5F1E7,
  white:      #ffffff
);

// Constants
$mobile-header-height: 80px;